<div >
    <div class="container-fluid mt-4" style="font-size: 20px; padding-right:3em; padding-left: 3em; display: flex;">
        <h2>Solicitar Información a Depenedencia</h2>
    </div>
</div>
<form  class=" mat-elevation-z8 example-container" style="margin: 30px; padding: 30px;">
  <div class="example-container"> 
    <mat-form-field style="text-decoration-color: black">
      <input matInput placeholder="Email Origen:" [value]="emailOrigen" style="color: black" disabled>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Email Destino" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Asunto">
    </mat-form-field>
    <br>
    <mat-form-field>
      <textarea matInput placeholder="Mensaje"></textarea>
    </mat-form-field>
    <input type="file" name="image" placeholder="Subir archivo"/>
  </div>
  <div class="container-fluid mt-4" style="text-align: center">
    <button type="button" class="btn btn-primary" style="margin:10px;">Enviar</button>
    <button type="button" class="btn btn-danger" style="margin:10px;">Cancelar</button>
  </div>
</form >