<div >
    <div class="container-fluid mt-4" style="font-size: 20px; padding-right:3em; padding-left: 3em; display: flex;">
        <h2>Bandeja de Información de Dependencia</h2>
        <button type="button" class="btn btn-danger push-right">Eliminar</button>
    </div>
</div>

<div class="container-fluid mt-4" style="font-size: 15px; padding-right:3em; padding-left: 3em">
    <div class="row">
        <div class="col-sm">
            <mat-form-field class="example-full-width" style="cursor:pointer">
                <input matInput placeholder="Buscar" value="">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
    </div>
</div>

<div class="mat-elevation-z8"  style="margin: 30px;">
    <table mat-table [dataSource]="dataSource" style="width: 100%;" >
        <ng-container matColumnDef="correos">
            <th mat-header-cell *matHeaderCellDef> <h3 style="text-align: center; color:black;">Listado de Expedientes</h3> </th>
            <td mat-cell *matCellDef="let element" style="padding-top: 10px; padding-bottom: 10px;" > 
                <mat-card id="item-info"> 
                    <div style="display: flex;">
                        <strong>
                            {{element.asunto}} 
                        </strong>
                        <span _ngcontent-qgq-c2="" class="example-spacer"></span>
                        <strong class="push-right">
                            {{element.fecha}} 
                        </strong>
                    </div>
                    <br>
                    <div style="display: flex;">
                        <span>
                            Remitente: {{element.remitente}} 
                        </span>
                        <span class="push-right">
                            Materia: {{element.materia}} 
                        </span>
                    </div>
                </mat-card>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[4]" showFirstLastButtons></mat-paginator>
</div>
