<nav class="navbar navbar-expand-lg navbar-light mat-elevation-z2 example-header" style=" text-align: center; background: #3f51b5; color: white">
  <a mat-button (click)="sidenav.toggle()"><i style="color:white" class="material-icons">
          menu
      </i>
  </a>
  <a mat-button class="navbar-brand mat-button" href="#">
      <span style="color: white; font-size: 1.3em"><i class="material-icons docs-angular-logo">account_balance </i>
          Asesoría Legal</span></a>
</nav>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav">
    <hr>
    <div style="height: 200px;" class="text-center">
      <label for="file-input">
        <img src="../../../assets/logoUNMSM.svg" alt="" width="120px" style="cursor: pointer">
      </label>
    </div>
    <mat-divider></mat-divider>
    <mat-toolbar style="background: white">
      <mat-toolbar-row>
          <span>Inicio </span>
          <span class="example-spacer"></span>
          <i class="material-icons" >home</i>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-toolbar style="background: white">
      <mat-toolbar-row [routerLink]="[ '/home/listar-expedientes']" routerLinkActive="active-link">
          <span>Listar Expedientes </span>
          <span class="example-spacer"></span>
          <i class="material-icons ">list</i>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-toolbar style="background: white">
      <mat-toolbar-row [routerLink]="[ '/home/registrar-expedientes']" routerLinkActive="active-link">
          <span>Registrar Expediente</span>
          <span class="example-spacer"></span>
          <i class="material-icons ">description</i>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-toolbar style="background: white">
      <mat-toolbar-row [routerLink]="[ '/home/buscar-expediente']" routerLinkActive="active-link">
          <span>Buscar Expediente </span>
          <span class="example-spacer"></span>
          <i class="material-icons ">search</i>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-toolbar style="background: white">
      <mat-toolbar-row [routerLink]="[ '/home/solicitar-informacion']" routerLinkActive="active-link">
          <span>Solicitar Información</span>
          <span class="example-spacer"></span>
          <i class="material-icons ">send</i>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-toolbar style="background: white">
      <mat-toolbar-row [routerLink]="[ '/home/bandeja-informacion']" routerLinkActive="active-link">
          <span>Bandeja de Información</span>
          <span class="example-spacer"></span>
          <i class="material-icons ">email</i>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <mat-toolbar style="background: white">
      <mat-toolbar-row [routerLink]="[ '/login']">
          <span>Salir</span>
          <span class="example-spacer"></span>
          <i class="material-icons">exit_to_app</i>
      </mat-toolbar-row>
  </mat-toolbar>
  </mat-sidenav>
  <mat-divider></mat-divider>
  <mat-sidenav-content>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>