<mat-tab-group >
  <mat-tab label="Reporte de Expediente">
    <mat-card class=" mat-elevation-z8 example-container" style="margin: 30px; padding-bottom: 10px; padding-top:10px;">
      <div style="display: flex; margin:15px;">
        <h2>Registrar Expediente</h2>
      </div>
      <mat-form-field>
        <input matInput placeholder="N° de Expediente"  value="">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Distrito Judicial" > 
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Órgano Jurisdiccional" > 
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Especialista Legal" > 
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Juez"> 
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Proceso"> 
        </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="fechaInicio" placeholder="Fecha de Inicio">
        <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
        <mat-datepicker #fechaInicio></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Especialidad"> 
        </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Observación"> 
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Estado"> 
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Materia(s)"> 
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="fechaFin" placeholder="Fecha de Conclusión">
        <mat-datepicker-toggle matSuffix [for]="fechaFin"></mat-datepicker-toggle>
        <mat-datepicker #fechaFin></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Etapa Procesal"> 
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Motivo de Conclusión"> 
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Ubicación"> 
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Sumilla"> 
      </mat-form-field>
      <div style="text-align: center;">
        <button type="button" class="btn btn-primary"  style=" margin-right: 20px;">Guardar</button>
      </div>
    </mat-card>
  </mat-tab>
  
  <mat-tab label="Partes Procesales">
    <mat-card class="mat-elevation-z8 container-fluid" style="margin: 30px; padding-bottom: 10px; padding-top:10px; width: 96%;">
        <div class="row">
            <div class="col-sm">PARTE</div>
            <div class="col-sm">TIPO DE PERSONA</div>
            <div class="col-sm">APELLIDO PATERNO/RAZÓN SOCIAL</div>
            <div class="col-sm">APELLIDO MATERNO</div>
            <div class="col-sm">NOMBRES</div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm">
              <mat-form-field>
                <mat-label>Parte</mat-label>
                <mat-select >
                  <mat-option *ngFor="let i of items" [value]="i.value" >
                    {{i.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div>
          <div class="col-sm">
            <mat-form-field>
              <mat-label>Tipo de Persona</mat-label>
              <mat-select >
                <mat-option *ngFor="let p of personas" [value]="p.value">
                  {{p.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm">
            <mat-form-field>
              <input matInput placeholder="Apellido Paterno/Razón social"> 
            </mat-form-field>
          </div>
          <div class="col-sm">
            <mat-form-field>
              <input matInput placeholder="Apellido Materno"> 
            </mat-form-field>
          </div>
          <div class="col-sm">
            <mat-form-field>
              <input matInput placeholder="Nombre"> 
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
              <mat-form-field>
                <mat-label>Parte</mat-label>
                <mat-select >
                  <mat-option *ngFor="let i of items" [value]="i.value" >
                    {{i.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div>
          <div class="col-sm">
            <mat-form-field>
              <mat-label>Tipo de Persona</mat-label>
              <mat-select >
                <mat-option *ngFor="let p of personas" [value]="p.value">
                  {{p.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm">
            <mat-form-field>
              <input matInput placeholder="Apellido Paterno/Razón social"> 
            </mat-form-field>
          </div>
          <div class="col-sm">
            <mat-form-field>
              <input matInput placeholder="Apellido Materno"> 
            </mat-form-field>
          </div>
          <div class="col-sm">
            <mat-form-field>
              <input matInput placeholder="Nombre"> 
            </mat-form-field>
          </div>
        </div>
      <div style="text-align: center;">
        <button type="button" class="btn btn-primary" style="margin:10px;">Guardar</button>
      </div>
    </mat-card>
  </mat-tab>
  
  <mat-tab label="Seguimiento del Expediente">
      <mat-card class="mat-elevation-z8 example-container"  style="margin: 30px; padding-right:22px;">
          <mat-form-field>
            <input matInput [matDatepicker]="fechaIngreso" placeholder="Fecha de Ingreso">
            <mat-datepicker-toggle matSuffix [for]="fechaIngreso"></mat-datepicker-toggle>
            <mat-datepicker #fechaIngreso></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Acto">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Resolución">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Folios" type="number">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Tipo de Notificación">
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="fechaProveido" placeholder="Proveído">
            <mat-datepicker-toggle matSuffix [for]="fechaProveido"></mat-datepicker-toggle>
            <mat-datepicker #fechaProveido></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Sumilla"></textarea>
          </mat-form-field>
          <div>
            <input type="file" name="image" placeholder="Subir archivo">
          </div>
          <br><hr><br>
          <h5>Notificación</h5>
          <mat-form-field>
            <input matInput placeholder="Código">
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Anexo(s)"></textarea>
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="fechaEnvio" placeholder="Fecha de Envío">
            <mat-datepicker-toggle matSuffix [for]="fechaEnvio"></mat-datepicker-toggle>
            <mat-datepicker #fechaEnvio></mat-datepicker>
          </mat-form-field>
          <div>
            <input type="file" name="image" placeholder="Adjuntar Notificación"/>
            <section>
              Adjuntar Notificación
            </section>
          </div>
          <br><hr><br>
          <div style="text-align: center;">
            <button type="button" class="btn btn-primary" style="margin:10px;">Guardar</button>
          </div>       
      </mat-card>
  </mat-tab> 
</mat-tab-group>