.example-container {
    display: flex;
    flex-direction: column;
}
  
.example-container > * {
width: 100%;
}

.mat-form-field-infix {
width: 90px;
}

.footer {
    text-align: center;
    position: inherit;
    left: 0;
    bottom: 0;    
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #151d4d;
    color: whitesmoke;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
}