<form class=" mat-elevation-z8 example-container" style="margin: 30px; margin-top:5%; padding: 30px; margin-left: 20%; margin-right: 20%;">
  <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Por Filtros">
          <form  class="example-container" style="text-align: center; margin-top: 30px;">
            <div style="display: inline">
              <label style="margin-right: 20px;">Distrito Judicial (*):</label>
              <mat-form-field>
                <mat-select placeholder="Distrito Judicial">
                    <mat-option *ngFor="let distrito of distritos_judiciales" [value]="distrito">{{distrito}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div style="display: inline">
              <label style="margin-right: 20px;">Año (*):</label>
              <mat-form-field>
                <mat-select placeholder="Año">
                    <mat-option *ngFor="let anio of anios" [value]="anio">{{anio}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div style="display: inline">
              <label style="margin-right: 20px;">N° de Expediente (*):</label>
              <mat-form-field>
                <input matInput placeholder="Número de Expediente">
              </mat-form-field>
            </div>
            <div class="container-fluid mt-4" style="text-align: center">
              <button type="button" class="btn btn-primary">Consultar</button>
            </div>
          </form >
      </mat-tab>
      <mat-tab label="Por Código de Expedientes">
        <form>
          <div style="text-align: center; margin-top:10px; margin-top: 30px;">Código del Expediente</div>
          <div class="container-fluid mt-4" style="display: inline-block; text-align: center;">
            <div class="row" >
              <div class="col-sm" style=" margin: 2px; padding:2px;">
                <input type="text" style="text-align:center;" size="5" maxlength="5" placeholder="#####">
              </div>
              <div class="col-sm">
                <input type="text" style="text-align:center; margin: 2px; padding:2px;" size="5" maxlength="4" placeholder="####">
              </div>
              <div class="col-sm">
                <input type="text" style="text-align:center; margin: 2px; padding:2px;" size="5" maxlength="1" placeholder="#">
              </div>
              <div class="col-sm">
                <input type="text" style="text-align:center; margin: 2px; padding:2px;" size="5" maxlength="4" placeholder="####">
              </div>
              <div class="col-sm">
                <input type="text" style="text-align:center; margin: 2px; padding:2px;" size="5" maxlength="2" placeholder="##">
              </div>
              <div class="col-sm">
                <input type="text" style="text-align:center; margin: 2px; padding:2px;" size="5" maxlength="2" placeholder="##">
              </div>
              <div class="col-sm">
                <input type="text" style="text-align:center; margin: 2px; padding:2px;" size="5" maxlength="2" placeholder="##">
              </div>
              <div>
                <img src="../../../assets/codigo-expediente.png" style="width: 100%">
              </div>
              <div class="container-fluid mt-4" style="text-align: center">
                <button type="button" class="btn btn-primary">Consultar</button>
              </div>
            </div>
          </div>
        </form>
      </mat-tab>
</mat-tab-group>