<mat-tab-group >
    <mat-tab label="Reporte de Expediente">
      <mat-card class=" mat-elevation-z8 example-container" style="margin: 30px; padding-bottom: 10px; padding-top:10px;">
        <div style="display: flex; margin:15px;">
          <h2>Detalle del Reporte</h2>
          <span _ngcontent-qgq-c2="" class="example-spacer"></span>
          <button type="button" class="btn btn-info">Descargar Reporte</button>
        </div>
        <mat-form-field>
          <input matInput placeholder="N° de Expediente" [disabled]="estadoComponente1" [value]="detalleExpediente.id">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Distrito Judicial" [disabled]="estadoComponente1" [value]="detalleExpediente.cod_distrito_judicial"> 
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Órgano Jurisdiccional" [disabled]="estadoComponente1"> 
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Especialista Legal" [disabled]="estadoComponente1" [value]="detalleExpediente.especialista_legal"> 
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Juez" [disabled]="estadoComponente1" [value]="detalleExpediente.juez"> 
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Proceso" [disabled]="estadoComponente1" [value]="detalleExpediente.proceso"> 
          </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="fechaInicio" placeholder="Fecha de Inicio" [disabled]="estadoComponente1">
          <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
          <mat-datepicker #fechaInicio></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Especialidad" [disabled]="estadoComponente1"> 
          </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Observación" [disabled]="estadoComponente1"> 
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Estado" [disabled]="estadoComponente1"> 
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Materia(s)" [disabled]="estadoComponente1"> 
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="fechaFin" placeholder="Fecha de Conclusión" [disabled]="estadoComponente1">
          <mat-datepicker-toggle matSuffix [for]="fechaFin"></mat-datepicker-toggle>
          <mat-datepicker #fechaFin></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Etapa Procesal" [disabled]="estadoComponente1"> 
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Motivo de Conclusión" [disabled]="estadoComponente1"> 
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Ubicación" [disabled]="estadoComponente1"> 
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Sumilla" [disabled]="estadoComponente1"> 
        </mat-form-field>
        <div style="text-align: center;">
          <button type="button" class="btn btn-primary" *ngIf="estadoComponente1" style=" margin-right: 20px;">
            <span>Ver Información Adjunta</span>
          </button>
          <button type="button" class="btn btn-success" *ngIf="estadoComponente1" (click)="cambiarMensaje(1)">
            <span>Editar</span>
          </button>
        </div>
        <div style="text-align: center;">
          <button type="button" class="btn btn-primary" *ngIf="!estadoComponente1" style=" margin-right: 20px;">Guardar</button>
          <button type="button" class="btn btn-danger" *ngIf="!estadoComponente1" (click)="cambiarMensaje(1)"> Cancelar</button>
        </div>
      </mat-card>
    </mat-tab>
    
    <mat-tab label="Partes Procesales">
      <mat-card class="mat-elevation-z8 container-fluid" style="margin: 30px; padding-bottom: 10px; padding-top:10px; width: 96%;">
          <div class="row">
              <div class="col-sm">PARTE</div>
              <div class="col-sm">TIPO DE PERSONA</div>
              <div class="col-sm">APELLIDO PATERNO/RAZÓN SOCIAL</div>
              <div class="col-sm">APELLIDO MATERNO</div>
              <div class="col-sm">NOMBRES</div>
          </div>
          <hr>
          <div class="row" *ngFor="let item of expediente;">
            <div class="col-sm">
                <mat-form-field>
                  <mat-label>Parte</mat-label>
                  <mat-select [value]="item.parte" [disabled]="estadoComponente2">
                    <mat-option *ngFor="let i of items" [value]="i.value" >
                      {{i.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm">
              <mat-form-field>
                <mat-label>Tipo de Persona</mat-label>
                <mat-select [value]="item.tipopersona" [disabled]="estadoComponente2">
                  <mat-option *ngFor="let p of personas" [value]="p.value">
                    {{p.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm">
              <mat-form-field>
                <input matInput placeholder="Apellido Paterno/Razón social" value={{item.apellidoP}} [disabled]="estadoComponente2" > 
              </mat-form-field>
            </div>
            <div class="col-sm">
              <mat-form-field>
                <input matInput placeholder="Apellido Materno" value={{item.apellidoM}} [disabled]="estadoComponente2" > 
              </mat-form-field>
            </div>
            <div class="col-sm">
              <mat-form-field>
                <input matInput placeholder="Nombre" value={{item.nombre}} [disabled]="estadoComponente2" > 
              </mat-form-field>
            </div>
          </div>
        <div style="text-align: center;">
          <button type="button" class="btn btn-success" *ngIf="estadoComponente2" (click)="cambiarMensaje(2)" style="margin:10px;">Editar</button>     
        </div>
        <div style="text-align: center;">
          <button type="button" *ngIf="!estadoComponente2" class="btn btn-primary" style="margin:10px;">Guardar</button>
          <button type="button" *ngIf="!estadoComponente2" (click)="cambiarMensaje(2)" class="btn btn-danger" style="margin:10px;">Cancelar</button>   
        </div>
      </mat-card>
    </mat-tab>
    
    <mat-tab label="Seguimiento del Expediente">
        
        <mat-card class="mat-elevation-z8"  style="margin: 30px; padding-right:22px;">
            <table mat-table [dataSource]="dataSource2" style="width: 100%; margin: 10px;" >
                <ng-container matColumnDef="seguimiento">
                    <th mat-header-cell *matHeaderCellDef><h3>Seguimiento del Expediente {{seguimiento.id}}</h3></th>
                    <td mat-cell *matCellDef="let element" style="padding-top: 10px; padding-bottom: 10px;" > 
                      <mat-card class=" mat-elevation-z8 " style="padding-bottom: 15px;" >
                        <div class="example-container" style="margin: 30px;">
                          
                            <mat-form-field *ngIf="estadoComponente3">
                              <input matInput placeholder="Fecha de Ingreso" [value]="element.fecha_de_ingreso" [disabled]="estadoComponente3" style="color: black;"> 
                            </mat-form-field>
                          
                          <mat-form-field>
                            <input matInput placeholder="Acto" [value]="element.actos" [disabled]="estadoComponente3"> 
                          </mat-form-field>
                          <mat-form-field>
                            <input matInput placeholder="Resolución" [value]="element.resolucion" [disabled]="estadoComponente3"> 
                          </mat-form-field>
                          <mat-form-field>
                            <input matInput placeholder="Folios" type="number" [value]="element.folios" [disabled]="estadoComponente3"> 
                          </mat-form-field>
                          <mat-form-field>
                            <input matInput placeholder="Tipo de Notificación" [value]="element.tipo_de_modificacion" [disabled]="estadoComponente3"> 
                          </mat-form-field>
                          <mat-form-field>
                            <input matInput placeholder="Proveído" [value]="element.proveido" [disabled]="estadoComponente3"> 
                          </mat-form-field>
                        </div>
                        <div class="secondForm">
                          <mat-form-field class="example-full-width">
                            <textarea matInput placeholder="Sumilla" [value]="element.sumilla" [disabled]="estadoComponente3"></textarea>
                          </mat-form-field>
                          <mat-form-field class="example-full-width">
                            <textarea matInput placeholder="Descripción del Usuario" [value]="element.descripcionusuario" [disabled]="estadoComponente3"></textarea>
                          </mat-form-field>
                        </div>
                        <div style="text-align: center; margin-bottom: 10px;">
                          <button type="button" class="btn btn-danger" *ngIf="estadoComponente3">Descargar</button>
                          <button type="button" class="btn btn-primary" *ngIf="estadoComponente3" (click)="cambiarMensaje(3)">Editar</button>
                          <button type="button" class="btn btn-primary" *ngIf="!estadoComponente3">Guardar</button>
                          <button type="button" class="btn btn-danger" *ngIf="!estadoComponente3" (click)="cambiarMensaje(3)">Cancelar</button> 
                        </div>
                        <mat-card class="mat-elevation-z8 secondForm" >
                          <div style="text-align: left;">
                            <strong>Notificación {{element.notificacion.numero}}</strong>
                          </div>
                          <div class="example-container" style="margin: 30px;">
                            <mat-form-field>
                              <input matInput placeholder="Destinatario"  [disabled]="estadoComponente3"> 
                            </mat-form-field>
                            <mat-form-field>
                              <input matInput placeholder="Anexo(s)"  [disabled]="estadoComponente3"> 
                            </mat-form-field>
                            <mat-form-field >
                              <input matInput placeholder="Fecha de envio" [disabled]="estadoComponente3"> 
                            </mat-form-field>
                            <mat-form-field >
                              <input matInput placeholder="Forma de entrega"  [disabled]="estadoComponente3"> 
                            </mat-form-field>
                            <div style="text-align: center; margin:10px;">
                              <button type="button" class="btn btn-danger" *ngIf="estadoComponente3">Detalles</button>
                            </div>
                          </div>
                        </mat-card>
                        <div style="text-align: center; margin:10px;">
                          <button type="button" class="btn btn-success" *ngIf="estadoComponente3">Agregar Seguimiento</button>
                        </div>
                      </mat-card>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
            </table>

        <mat-paginator [pageSizeOptions]="[1]" showFirstLastButtons></mat-paginator>
          </mat-card>

    </mat-tab>
</mat-tab-group>