.example-container {
    display: block;
    flex-direction: column;
    text-align: center;
  }
  
.example-container > .mat-form-field {
    width: 40%;
  }
.example-full-width {
  width: 90%;
}
.secondForm{
  text-align: center;
  padding-left: 15px;
}
.mat-form-field {
  margin: 20px;
}

.mat-input-element{
  color: black;
}
.footer {
    text-align: center;
    position: inherit;
    left: 0;
    bottom: 0;    
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #151d4d;
    color: whitesmoke;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
}
.example-spacer {
  flex: 1 1 auto;
}

.btn{
  margin:10px;
}

.flex-spacer[_ngcontent-c1] {
  flex-grow: 2;
}
div.flex-spacer{
  display: flex;
}