<div >
    <div class="container-fluid mt-4" style="font-size: 20px; padding-right:3em; padding-left: 3em; display: flex;">
        <h2>Expedientes</h2>
        <button type="button" class="btn btn-success push-right">Agregar Expediente</button>
    </div>
</div>
<div class="container-fluid mt-4" style="font-size: 15px; padding-right:3em; padding-left: 3em">
    <div class="row">
        <div class="col-sm">
            <mat-form-field style="margin-right: 20px;">
                <mat-label>Procedimiento...</mat-label>
                <mat-select class="combobox">
                <mat-option>---</mat-option>
                <mat-option *ngFor="let procedimiento of procedimientos" [value]="procedimiento">{{procedimiento}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field>
                <mat-label>Estado...</mat-label>
                <mat-select>
                <mat-option>---</mat-option>
                <mat-option *ngFor="let estado of estados" [value]="estado">{{estado}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field class="example-full-width" style="cursor:pointer">
                <input matInput placeholder="Buscar" value="">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
    </div>
</div>

<div class="mat-elevation-z8"  style="margin: 30px;">
    <table mat-table [dataSource]="dataSource" style="width: 100%;" >
        <ng-container matColumnDef="expediente">
            <th mat-header-cell *matHeaderCellDef> <h3 style="text-align: center; color:black;">Listado de Expedientes</h3> </th>
            <td mat-cell *matCellDef="let element" style="padding-top: 10px; padding-bottom: 10px;" > 
                <mat-card [routerLink]="['/home/detalle-expediente',element.codigo_expediente]"> 
                    <div style="display: flex;">
                        <span>
                            {{element.codigo_expediente}} 
                        </span>
                        <span _ngcontent-qgq-c2="" class="example-spacer"></span>
                        <span class="push-right">
                            {{element.cod_distrito_judicial}} 
                        </span>
                    </div>
                    <hr color="black">
                    <div style="display: flex;">
                        <span>
                            Demandante: {{demandante}} 
                        </span>
                        <span class="push-right">
                            Materia: {{element.materia}} 
                        </span>
                    </div>
                    <div style="display: flex;">
                        <span>
                            Demandado: {{demandado}} 
                        </span>
                        <span class="push-right">
                            Estado: {{element.estado}} 
                        </span>
                    </div>
                </mat-card>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[4]" showFirstLastButtons></mat-paginator>
</div>
      


    